/* styles.css */

form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Optional: Full height of the viewport */
  
}

.field {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.w-full {
  width: 100%;
}

.mt-2 {
  margin-top: 10px;
}
